<div class="row w-100 middle-xs center-xs">

    <div class="col-xs-12 col-md-5 p-5">
        <img [src]="image" alt="image decorative of register" class="shadow" />
    </div>

    <div class="col-xs-12 col-md-5">

        <h1 class="p-1">Account</h1>

        <form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="p-2">

            <div class="row w-100">

                <div class="col-xs-12 p-1">

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>

                        <input matInput type="email" formControlName="email" name="email" placeholder="Email" minlength="6"
                            maxlength="255" required />
                        <mat-icon matSuffix>folder</mat-icon>

                        <mat-hint>{{getEmail().value.length}} of 255</mat-hint>

                        <mat-error *ngIf="checkErrors(getEmail(),'required')">Email is required</mat-error>
                        <mat-error *ngIf="checkErrors(getEmail(),'minlength')">Minimun length is 6</mat-error>
                        <mat-error *ngIf="checkErrors(getEmail(),'maxlength')">Maximun length is 255</mat-error>
                        <mat-error *ngIf="checkErrors(getEmail(),'email')">Bad format email</mat-error>
                    </mat-form-field>

                </div>

                <div class="col-xs-12 p-1">

                    <mat-form-field appearance="outline">
                        <mat-label>Fullname</mat-label>

                        <input matInput formControlName="fullname" name="fullname" placeholder="Fullname" minlength="3"
                            maxlength="255" required />
                        <mat-icon matSuffix>folder</mat-icon>

                        <mat-hint>{{getFullname().value.length}} of 255</mat-hint>

                        <mat-error *ngIf="checkErrors(getFullname(),'required')">Email is required</mat-error>
                        <mat-error *ngIf="checkErrors(getFullname(),'minlength')">Minimun length is 3</mat-error>
                        <mat-error *ngIf="checkErrors(getFullname(),'maxlength')">Maximun length is 255</mat-error>
                    </mat-form-field>

                </div>

                <div class="col-xs-12 p-1">

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>

                        <input matInput [type]="hide ? 'password': 'text'" formControlName="password" name="password"
                            placeholder="Password" minlength="8" maxlength="255" required />

                        <button mat-icon-button matSuffix (click)="hidePassword($event)" aria-label="Show or ocult password">
                            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>

                        <mat-hint>{{getPassword().value.length}} of 255</mat-hint>

                        <mat-error *ngIf="checkErrors(getPassword(),'required')">Password is required</mat-error>
                        <mat-error *ngIf="checkErrors(getPassword(),'minlength')">Minimun length is 8</mat-error>
                        <mat-error *ngIf="checkErrors(getPassword(),'maxlength')">Maximun length is 255</mat-error>
                    </mat-form-field>

                </div>

            </div>

            <div class="row center-xs w-100 p-2">
                <button *ngIf="form.valid" mat-raised-button color="primary" type="submit" aria-label="Save authority">
                    Register
                </button>
            </div>

        </form>

    </div>
</div>